
@media (max-width: 768px) {
    .header nav  {
        display: none;
    }

}

@media (max-width: 1200px) {
    .box1 {
        grid-column: 1/3;
    }

    .new-box {
        padding-left: 30px;
    }

    .new-box p {
        width: 90%;
    }
}

@media (max-width: 1138px) {
    .box1 {
        grid-column: 1/3;
    }
}


@media (max-width: 740px) {
    .box1 {
        grid-column: 1/2;
    }
}

@media (max-width: 1000px) {
    .img-wrapper {
        row-gap: 60px;
    }

    .flex p {
        width: 90%;
        margin: 0;
    }

    .new-box {
        padding-left: 30px;
    }

    .new-box p {
        width: 90%;
    }

    .second-img {
        grid-column: 1;
        grid-row: 5;
    }

    .final-wrapper {
        grid-template-columns: repeat(auto-fill, 456px);
        width: 90%;
        align-items: center;
        justify-content: center;
    }

    .final-wrapper button {
        margin-top: 0px;
    }

    .final-wrapper h2 {
        margin-bottom: -20px;
    }

}



@media (max-width: 900px) {
    .img {
        grid-column: 1;
        grid-row: 4;
        margin-top: 30px;
    }

    .img-wrapper {
        grid-template-columns: repeat(auto-fill, 456px);
        width: 90%;
        align-items: center;
        justify-content: center;
    }


    footer ul {
        flex-wrap: wrap;
    }
    
}

@media (max-width: 627px) {
    .img  img{
        width: 90%;
    }

    .img-wrapper,
    .final-wrapper {
        width: 80%;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .second-img  img {
        width: 90%;
    }



}

@media (max-width: 490px) {
    .img,
    .second-img {
        width: 70%;
        margin: 0 auto;
    }

    .img-wrapper,
    .final-wrapper {
        margin-top: 50px;
    }

    .img-wrapper p,
    .final-wrapper p {
        width: 90%;
    }

    .img-wrapper h2,
    .final-wrapper h2 {
        width: 90%;
    }

    .flex {
        width: 80%;
        margin: 0 auto;
    }

}